body{
  margin: 20px;
  font-family: sans-serif;
    background-color: whitesmoke;
}
.header{
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-weight: bold;

}
h2{
    text-align: center;
    font-weight : bold;
}
.myform{
    margin : 30px;
    background-color:white;   
    box-sizing:content-box;
    box-shadow: 0 0 10px blue;
    padding : 30px;
    border-radius : 10px;
    text-align: left;
    color : black
}
.p{
    text-align: center;
}

.myform label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.myform button{
    background-color : lightblue;
    font-weight: bold;
}

.unistyle{
    background : linear-gradient(135deg, beige, beige);
    padding : 20px;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: black ;
}
